p {
  font-family: Lato;
}

button{
  background: #e63936;
  color:white;
  border:none;
  padding:10px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

.menu{
padding: 15px;
box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
width:200px;
}